$background-color: #F6F3F3;
$text-color: #343030;
$font-family: Merriweather;
$font-family-fallback: serif;

$button-bg-color: #403432;
$button-bg-color-hover: #776763;
$button-bg-color-disabled: #C1B4B1;
$button-bg-color-cart: #5B3A32;
$button-text-color: #F4F6F9;

$page-width: 1200px;

$search-border-color-inactive: #E1E1E1;
$search-border-color-active: #B5B5B5;
$search-text-color-placeholder: #9F9F9F;
$search-text-color: #343030;

$header-height: 96px;
$header-border-bottom: 1px solid #E1E1E1;

$painting-card-width: 280px;
$painting-card-height: 328px;
$painting-border-color: #E1E1E1;
$painting-margin-top: 32px;

$painting-old-price-text-color: #A0A0A0;

$footer-height: 96px;
$footer-bg-color: #ECEAEA;
$footer-text-color: #555555;

@mixin width-container {
  width: $page-width;
  margin: 0 auto;
}

$h16-line-interval: 1.5em;
