$background-color: #F6F3F3;
$text-color: #343030;
$font-family: Merriweather;
$font-family-fallback: serif;

$button-bg-color: #403432;
$button-bg-color-hover: #776763;
$button-bg-color-disabled: #C1B4B1;
$button-bg-color-cart: #5B3A32;
$button-text-color: #F4F6F9;

$page-width: 1200px;

$search-border-color-inactive: #E1E1E1;
$search-border-color-active: #B5B5B5;
$search-text-color-placeholder: #9F9F9F;
$search-text-color: #343030;

$header-height: 96px;
$header-border-bottom: 1px solid #E1E1E1;

$painting-card-width: 280px;
$painting-card-height: 328px;
$painting-border-color: #E1E1E1;

$painting-old-price-text-color: #A0A0A0;

$footer-height: 96px;

@mixin width-container {
  width: $page-width;
  margin: 0 auto;
}

$h16-line-interval: 1.5em;
@mixin h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: $h16-line-interval;
  text-align: left;
}
@mixin h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: $h16-line-interval;
  text-align: left;
}
@mixin h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: $h16-line-interval;
  text-align: left;
}
@mixin h4 {
  font-size: 14px;
  font-weight: bold;
  line-height: $h16-line-interval;
  text-align: left;
}
@mixin h5 {
  font-size: 14px;
  font-weight: normal;
  line-height: $h16-line-interval;
  text-align: left;
}
@mixin h6 {
  font-size: 14px;
  font-weight: 300;
  line-height: $h16-line-interval;
  text-align: left;
}

@mixin button {
  min-width: 112px;
  height: 48px;
  background-color: $button-bg-color;
  border: none;
  font-family: "#{$font-family}", $font-family-fallback;
  font-size: 14px;
  font-weight: bold;
  color: $button-text-color;
  padding: 0 5px;
  cursor: pointer;

  &:hover {
    background-color: $button-bg-color-hover;
  }

  &:disabled {
    background-color: $button-bg-color-disabled;
  }

  &_in-cart {
    background-color: $button-bg-color-cart;
  }
}
